@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@font-face {
  font-family: "Fira Code", monospace;
  src: local("Fira Code");
}
@font-face {
  font-family: "Fjalla One", sans-serif;
  src: local("Fjalla One");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: rgb(10, 25, 48);
  font-family: Fira Code;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page {
  max-width: 1141px;
  width: 100%;
  display: block;
  padding: 0 0.5rem;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

.nav {
  width: 100%;
  border-bottom: 0.5px solid rgb(100, 255, 218);
  display: flex;
  margin-bottom: 9.5rem;
  justify-content: center;
  font-size: 0.75rem;
  line-height: 3.5rem;
}
.nav__wrapper {
  max-width: 1141px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav__wrapper__link {
  padding: 0 1rem;
  cursor: pointer;
}
.nav__wrapper__link--blue {
  font-family: Fira Code;
  color: rgb(100, 255, 218);
  margin: 0 2px 0 0;
}

.main__container {
  width: 44rem;
  padding-bottom: 2.5rem;
  font-family: Fjalla One;
}
.main__container__heading--bright, .main__container__heading--dark {
  font-size: 4rem;
  width: 100%;
  line-height: normal;
}
.main__container__heading--bright {
  display: flex;
  color: rgb(204, 214, 246);
  font-style: normal;
  font-weight: 400;
}
.main__container__heading--dark {
  color: rgb(136, 146, 192);
}
.main__container__subheader {
  width: 34.75rem;
  font-family: Fjalla One;
  line-height: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 1.25rem 0 4.5rem 0;
  font-size: 1.25rem;
}
.main__container .main__container__btn {
  font-size: 1rem;
  color: rgb(100, 255, 218);
  padding: 1rem 1.5rem;
  background: none;
  font-family: Fira Code;
  border-radius: 5px;
  border: 0.5px solid rgb(100, 255, 218);
  display: block;
  width: fit-content;
}
.main__container .main__container__btn:hover {
  cursor: pointer;
  filter: brightness(2.8);
  transition: 0.3s;
}

.about {
  font-size: 1.25rem;
  margin-top: 5rem;
}
.about__wrapper {
  display: flex;
  align-items: center;
}
.about__container {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  width: 40rem;
  padding: 0 8rem 0 0;
  line-height: 1.5rem;
  display: inline-block;
  font-size: 1.25rem;
}
.about__text--blue {
  font-size: 3rem;
}
.about__img {
  width: 15rem;
  height: fit-content;
  display: inline-block;
  margin-bottom: 7rem;
  -webkit-box-shadow: 8px 8px 0px 0px rgb(100, 255, 218);
  -moz-box-shadow: 8px 8px 0px 0px rgb(100, 255, 218);
  box-shadow: 8px 8px 0px 0px rgb(100, 255, 218);
}

.section__heading {
  display: flex;
  width: 100%;
}
.section__heading__text {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 6.5rem;
  padding-top: 8.5rem;
}
.section__heading__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed rgb(100, 255, 218);
  margin-left: 1rem;
}
.section__container__text--blue-n {
  font-family: Fira Code;
  color: rgb(100, 255, 218);
  font-size: 1.5rem;
}
.section__container__text--blue {
  font-family: Fira Code;
  color: rgb(100, 255, 218);
}

.experience {
  font-size: 1.25rem;
  margin-top: 3rem;
}
.experience__container {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  max-width: 40rem;
  line-height: 1.25rem;
  padding-left: 4.25rem;
  margin-bottom: 2.5rem;
}
.experience__container::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  transform: rotate(-45deg);
  border: 2px solid rgb(100, 255, 218);
  background-color: rgb(136, 146, 192);
  margin-right: 2rem;
}
.experience__container::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 0.625rem;
  height: calc(100% - 0.75rem);
  display: block;
  width: 1px;
  border-left: 0.5px dashed rgb(100, 255, 218);
}
.experience__container__title {
  font-size: 1rem;
}
.experience__container__date {
  color: rgba(255, 240, 240, 0.6);
  margin-bottom: 1.75rem;
}
.experience__container__description .skills {
  margin-left: 3rem;
  position: relative;
}
.experience__container__description .skills::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 2px solid transparent;
  border-left: 6px solid rgb(100, 255, 218);
  border-bottom: 2px solid transparent;
  position: absolute;
  left: -16px;
  top: 0.5rem;
}

.projects {
  margin-top: 3rem;
  font-size: 1.25rem;
}
.projects__container {
  display: flex;
  gap: 2.5rem;
}

.card {
  width: 30%;
  height: 25rem;
  border-radius: 5px;
  background: rgb(17, 34, 64);
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: flex-start;
}
.card__icon-earth {
  padding: 0.75rem 0 0 0;
}
.card__body__title {
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(204, 214, 246);
  padding: 0 0 1rem 0;
}
.card__body__content {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(168, 178, 209);
}
.card__body__footer {
  color: rgb(196, 196, 196);
  font-size: 0.75rem;
}
.card:hover {
  filter: brightness(1.4);
}

.footer {
  margin: 13rem 0 7rem 0;
  font-size: 2rem;
  text-align: center;
}
.footer__container__content {
  padding: 4rem 0 4rem 0;
  font-size: 1rem;
}
.footer .a-linkedin {
  font-size: 1rem;
  color: rgb(100, 255, 218);
  padding: 1rem 1.5rem;
  background: none;
  font-family: Fira Code;
  border-radius: 5px;
  border: 0.5px solid rgb(100, 255, 218);
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.footer .a-linkedin:hover {
  filter: brightness(2.8);
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */