@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@font-face {
  font-family: "Fira Code", monospace;
  src: local("Fira Code");
}
@font-face {
  font-family: "Fjalla One", sans-serif;
  src: local("Fjalla One");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  background-color: rgb(17, 34, 64);
}

.nav {
  width: 100%;
  border: 0.5px solid #64ffda;
  display: flex;
  margin-bottom: 6.5rem;
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
  font-family: Fira Code;
  font-size: 0.75rem;
  line-height: 3.5rem;
}
.nav__link {
  padding: 0 1rem;
}
.nav__link__content--blue {
  font-family: Fira Code;
  color: #64ffda;
}

.main__container {
  width: 44rem;
  padding-bottom: 2.5rem;
  font-family: Fjalla One;
}
.main__container__heading--bright, .main__container__heading--dark {
  font-size: 4rem;
  width: 100%;
  margin: 0.25rem 0 0 10rem;
}
.main__container__heading--bright {
  display: flex;
  color: rgb(204, 214, 246);
  font-style: normal;
  font-weight: 400;
}
.main__container__heading--dark {
  color: rgb(136, 146, 192);
}
.main__container__subheader {
  width: 33.25rem;
  margin: 2rem 0 2rem 10rem;
  font-family: Fjalla One;
  line-height: 1.25rem;
  color: #ffffff;
}
.main__container .main__container__btn {
  font-size: 0.75rem;
  color: #64ffda;
  padding: 1rem 1.5rem;
  background: none;
  margin-left: 10rem;
  margin-top: 1.5rem;
  font-family: Fira Code;
  border-radius: 5px;
  border: 0.5px solid #64ffda;
}

.about {
  font-family: Fira Code;
  color: #ffffff;
  margin: 7rem 0 0 10rem;
  font-size: 1.25rem;
}
.about__container {
  color: #ffffff;
  font-size: 0.75rem;
  width: 40rem;
  margin: 3rem 15rem 0 0;
  line-height: 1.25rem;
  display: inline-block;
}
.about__img {
  width: 13rem;
  display: inline-block;
  margin-bottom: 1rem;
  -webkit-box-shadow: 8px 8px 0px 0px rgb(100, 255, 218);
  -moz-box-shadow: 8px 8px 0px 0px rgb(100, 255, 218);
  box-shadow: 8px 8px 0px 0px rgb(100, 255, 218);
}

.section__heading {
  display: flex;
  width: 100%;
}
.section__heading__text {
  width: 100%;
  display: flex;
  align-items: center;
}
.section__heading__text::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #64ffda;
  margin-left: 1rem;
}
.section__container__text--blue {
  font-family: Fira Code;
  color: #64ffda;
}

.experience {
  font-family: Fira Code;
  color: #ffffff;
  margin: 7rem 0 20rem 10rem;
  font-size: 1.25rem;
  position: relative;
}
.experience__container {
  color: #ffffff;
  font-size: 0.75rem;
  width: 40rem;
  margin: 3rem 15rem 0 0;
  line-height: 1.25rem;
  display: inline-block;
}
.experience__mini-box {
  width: 1rem;
  height: 1rem;
  transform: rotate(-45deg);
  border: 4px solid #64ffda;
  display: inline-block;
  margin-right: 0.5rem;
}
.experience::before {
  content: "";
  display: block;
  height: 9rem;
  border-left: 1px dashed #64ffda;
  margin-left: 0.75rem;
  margin-top: 7rem;
  position: absolute;
}
.experience::after {
  content: "";
  display: block;
  height: 8rem;
  border-left: 1px dashed #64ffda;
  margin-left: 0.75rem;
  margin-top: -6.5rem;
  position: absolute;
}

.experience__content {
  display: inline;
  font-size: 1rem;
}

.experience__date {
  color: rgba(255, 240, 240, 0.6);
  margin: 0 0 1rem 2.5rem;
}

.experience__description {
  margin: 0 0 0 4rem;
}

.inside {
  color: #8892c0;
  transform: rotate(-45deg);
}/*# sourceMappingURL=style.css.map */