@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@font-face {
  font-family: "Fira Code", monospace;
  // font-style: ;
  // font-weight: ;
  src: local("Fira Code");
}

@font-face {
  font-family: 'Fjalla One', sans-serif;
  // font-style: ;
  // font-weight: ;
  src: local("Fjalla One");
}