@use "variables" as v;
@use "fonts";

@mixin xs {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin blue-btn {
  font-size: 1rem;
  color: v.$light-blue;
  padding: 1rem 1.5rem;
  background: none;
  font-family: v.$font-primary;
  border-radius: 5px;
  border: 0.5px solid v.$light-blue;
  display: block;
  width: fit-content;
}

@mixin blue-text {
  font-family: v.$font-primary;
  color: v.$light-blue;
}
