@use "variables" as v;
@use "fonts";

@mixin blue-btn {
  font-size: 1rem;
  color: v.$light-blue;
  padding: 1rem 1.5rem;
  background: none;
  font-family: v.$font-primary;
  border-radius: 5px;
  border: 0.5px solid v.$light-blue;
  display: block;
  width: fit-content;
}

@mixin blue-text {
  font-family: v.$font-primary;
  color: v.$light-blue;
}
