// COLORS 

$white: #ffffff;
$light-blue: #64ffda;
$light-heather: rgba(204, 214, 246, 1);
$dark-heather: rgba(136, 146, 192, 1);
$dark-blue: rgba(17, 34, 64, 1);
$light-gray: rgba(255, 240, 240, 0.6);





// FONTS

$font-primary: Fira Code;
$font-secondary: Fjalla One;