// COLORS

$white: rgb(255, 255, 255);
$light-blue: rgba(100, 255, 218, 1);
$light-heather: rgba(204, 214, 246, 1);
$dark-heather: rgba(136, 146, 192, 1);
$dark-blue: rgba(17, 34, 64, 1);
$deep-blue: rgb(28, 55, 102);
$deeper-blue: rgb(26, 42, 78);
$light-gray: rgba(255, 240, 240, 0.6);
$lighter-gray: rgb(196, 196, 196);
$greyish-blue: rgb(168, 178, 209);

// Czy to jest OK jak mam część rgb i część rgba? Czy jak tak mam to wszystkie muszę dać rgba?


// FONTS

$font-primary: Fira Code;
$font-secondary: Fjalla One;
