@use "fonts";
@use "mixins" as *;
@use "reset";
@use "variables" as *;
// trik z * wczytałam na jakiejś stronce, działa, ale czy jest ok?

body {
  // width: 71.5rem;
  width: 99.9%;
  // mogę dać taki width?
  // height: 5690px; to dane skopiowane z figmy
  // flex-shrink: 0;
  background-color: $dark_background;
}
nav {
  width: 100%;
  border: 0.5px solid $light_blue;
  display: flex;
  margin-bottom: 6.5rem;

  .preheader {
    display: flex;
    width: 100%;
    // height: 66px;
    //   flex-direction: column;
    justify-content: flex-end;
    color: $white;
    font-family: Fira Code;
    font-size: 0.75rem;
    font-style: normal;
    line-height: 1.5rem;
    margin: 0.75rem;
  }
}
span {
  padding: 0 1rem;
}

.header {
  width: 44rem;
  height: 14.5rem;
  font-family: "Fjalla One", sans-serif;

  .header__heading--bright,
  .header__heading--dark {
    font-size: 4rem;
    width: 100%;
    margin-left: 10rem;
    margin-top: 0.25rem;
  }

  .header__heading--bright {
    display: flex;

    // height: 66px;
    color: $heading_bright;
    font-style: normal;
    font-weight: 400;
    // line-height: 3.5rem;
  }

  .header__heading--dark {
    color: $heading_dark;
    // mam wątpliwość, czy nie komplikuje sobie w ten sposób życia - nazwa z podłogą a wcześniej --
  }
}
.subheader {
  width: 33.25rem;
  margin-left: 10rem;
  font-family: "Fjalla One", sans-serif;
  line-height: 1.25rem;
  color: $white;
}

.resume-btn {
  @include blue-btn;
}
