@use "fonts";
@use "mixins" as m;
@use "reset";
@use "variables" as v;

body {
  width: 100%;
  background-color: v.$dark-blue;
  font-family: v.$font-primary;
  color: v.$white;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
}

.nav {
  width: 100%;
  border: 0.5px solid v.$light-blue;
  display: flex;
  margin-bottom: 6.5rem;
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 3.5rem;

  &__link {
    padding: 0 1rem;

    &__content--blue {
      @include m.blue-text;
    }
  }
}

.main__container {
  width: 44rem;
  padding-bottom: 2.5rem;
  font-family: v.$font-secondary;

  &__heading {
    &--bright,
    &--dark {
      font-size: 4rem;
      width: 100%;
      margin: 0.25rem 0 0 10rem;
    }

    &--bright {
      display: flex;
      color: v.$light-heather;
      font-style: normal;
      font-weight: 400;
    }

    &--dark {
      color: v.$dark-heather;
    }
  }

  &__subheader {
    width: 33.25rem;
    margin: 2rem 0 2rem 10rem;
    font-family: v.$font-secondary;
    line-height: 1.25rem;
    color: v.$white;
  }

  .main__container__btn {
    @include m.blue-btn;

    &:hover {
      cursor: pointer;
      filter: brightness(2.8);
    }
  }
}

.about {
  margin: 7rem 0 0 10rem;
  font-size: 1.25rem;

  &__container {
    color: v.$white;
    font-size: 0.75rem;
    width: 40rem;
    margin: 3rem 15rem 0 0;
    line-height: 1.25rem;
    display: inline-block;
  }

  &__img {
    width: 13rem;
    display: inline-block;
    margin-bottom: 1rem;
    -webkit-box-shadow: 8px 8px 0px 0px v.$light-blue;
    -moz-box-shadow: 8px 8px 0px 0px v.$light-blue;
    box-shadow: 8px 8px 0px 0px v.$light-blue;
  }
}

.section {
  &__heading {
    display: flex;
    width: 100%;
    &__text {
      width: 100%;
      display: flex;
      align-items: center;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed v.$light-blue;
        margin-left: 1rem;
      }
    }
  }

  &__container__text--blue {
    @include m.blue-text;
  }
}

.experience {
  margin: 7rem 0 9rem 10rem;
  font-size: 1.25rem;
  position: relative;

  &__container__description {
    margin-left: 4rem;
  }
  &__container__date {
    color: v.$light-gray;
    margin: 0 0 1rem 2.5rem;
  }
  &__container__content {
    display: inline;
    font-size: 1rem;

    &::before {
      content: "";
      width: 1rem;
      height: 1rem;
      transform: rotate(-45deg);
      border: 4px solid v.$light-blue;
      display: inline-block;
      margin-right: 0.5rem;
    }
  }

  &__container {
    color: v.$white;
    font-size: 0.75rem;
    width: 40rem;
    margin: 3rem 15rem 0 0;
    line-height: 1.25rem;
    display: inline-block;
  }

  &::before {
    content: "";
    display: block;
    height: 9rem;
    border-left: 1px dashed v.$light-blue;
    margin: 7rem 0 0 0.75rem;
    position: absolute;
  }

  &::after {
    content: "";
    display: block;
    height: 8rem;
    border-left: 1px dashed v.$light-blue;
    margin: -6.5rem 0 0 0.75rem;
    position: absolute;
  }
}

.projects {
  margin: 7rem 0 0 10rem;
  font-size: 1.25rem;

  &__container {
    display: flex;
    gap: 2.5rem;
    margin-top: 5rem;
  }
}

.card {
  width: 25%;
  height: 20rem;
  border-radius: 5px;
  background: v.$deep-blue;
  text-decoration: none;
  cursor: pointer;

  &__icon-earth {
    margin: 1.5rem 0 2rem 1.5rem;
  }

  &__body__title {
    font-size: 1.25rem;
    margin-left: 1rem;
    font-weight: 700;
    color: v.$light-heather;
  }

  &__body__content {
    font-size: 1rem;
    margin: 1rem;
    line-height: 1.25rem;
    color: v.$greyish-blue;
  }

  &__body__footer {
    color: v.$lighter-gray;
    font-size: 0.75rem;
    margin: 6rem 0 0 1rem;
  }

  &:hover {
    
    filter: brightness(1.4);
  }
}

.footer {
  margin: 7rem 0 3rem 0;
  font-size: 1.25rem;
  text-align: center;

  &__container__content {
    margin-top: 4rem;
    margin: 4rem 0 4rem 0;
    font-size: 1rem;
  }

  .a-linkedin {
    @include m.blue-btn;
    margin: 0 auto;

    &:hover {
      filter: brightness(2.8);
    }
  }
}
