@use "fonts";
@use "mixins" as m;
@use "reset";
@use "variables" as v;

body {
  width: 100%;
  background-color: v.$dark-blue;
}

.nav {
  width: 100%;
  border: 0.5px solid v.$light-blue;
  display: flex;
  margin-bottom: 6.5rem;
  display: flex;
  justify-content: flex-end;
  color: v.$white;
  font-family: v.$font-primary;
  font-size: 0.75rem;
  line-height: 3.5rem;
}

.nav__link {
  padding: 0 1rem;
}

.nav__link__content--blue {
  @include m.blue-text;
}

.main__container {
  width: 44rem;
  padding-bottom: 2.5rem;
  font-family: v.$font-secondary;

  .main__container__heading--bright,
  .main__container__heading--dark {
    font-size: 4rem;
    width: 100%;
    margin-left: 10rem;
    margin-top: 0.25rem;
  }

  .main__container__heading--bright {
    display: flex;
    color: v.$light-heather;
    font-style: normal;
    font-weight: 400;
  }

  .main__container__heading--dark {
    color: v.$dark-heather;
  }
}
.main__container__subheader {
  width: 33.25rem;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: v.$font-secondary;
  line-height: 1.25rem;
  color: v.$white;
}

.main__container__btn {
  @include m.blue-btn;
}
